{% extends "_base.htm" %}
{% block container %}
<div class="page-header" align="center">
  <h3>Hello</h3>
  <h4>How it could be implemented</h4>
</div>
<div class="row">
  <div class="col-xs-12 col-md-2">
  </div>
  <div class="col-xs-12 col-md-10">
    <h4>Obviously</h4><p> that most of your adult habits have its origin out of your childhood.  And I'm not an exception.  When I was a boy my grandmum fostered me, and as she was a school teacher after retirement, she perfectly knows how to teach and what are necessary to learn.  It is curious now to reckon those days in learning by reading aloud lyrics by Russian famous writers like Alexey Nekrasov, Sergey Esenin, Leo Tolstoy.  It was incredibly wise and transparent tutorial for young boy, such as I was.  Several years later I've dived in to this 'curious' habit to read all that might be interesting from any point of view.  I've read brillant stories by Daniel Defau, German Mellvil, sir Arthur Conan Doyle, Jack London translated into Russian.  And twenty ears later her grandson read these books in English.  It was Discovery Channel.  And we just take a look on one only aspect: we talk about English and it is incredible significant for sucsessful education.
    </p>

    <p>But there are the second one. I mean my profiency education. It developed simultaneously with learning English and successfully continues nowdays.  I still reading a lot of books. I've discovered O'Reily and my personal library on Google Drive contains several books about Python. It was fundamentals. Python and English both.  If you take on to yourself duty to forge the texts it is huge necessary to have enough handy tool to do such subtile tricks. Without shadow of doubt I've choose Emacs from Richard Stallman. He is a great philosoph, I sure.  And, therefore I've started to write Python code 5 years ago.
    </p>  

    <p>But, in any case it is my profession and I must to confess about all my 'dark sides'.  Since I've took part in 20 different by functionality but Python-written projects as freelancer. Some are absolutely successfull, and there are several failed also.  It is my experience.  And seems it is a great volume of professial knowledge.  In 2010 I've started with Python 2.5 and NotePad and right now I'm with Python 3.5 and Emacs24.   
    </p>
    <object>
      <embed src="http://bit.ly/1lk9C7p" width="500" height="375"
	   type="application/pdf">
    </object>
  </div>
</div>
{% endblock %}
