{% extends "_base.htm" %}
{% block container %}
<div class="page-header" align="center">
  <h3>Main Concept.</h3>
  <h4>The issue description.</h4>
</div>
<div class="row">
  <div class="col-xs-12 col-md-2">
    <h5>Content:</h5>
    <h6>Modern trends;</h6>
  </div>
  <div class="col-xs-12 col-md-10">
    <p>Suppose it is enough for initial purposes</p>
      <p>As you can see at the main page there are several colours for buttons there. It's so because:</p>
  <ul>
    <li>deep blue signs at the single word in the topic title;</li>
    <li>green signs at the double word tag in the topic title;</li>
    <li>blue signs at the double word tag in the topic body;</li>
    <li>yellow signs at the triplet word tag in the topic body;</li>
  </ul>
  <p>If we talk about natural language processing we must bear in mind its statistical nature. Hence it's easy to imagine what eachone large text written on the human language have collocations. Sometimes and somewhere some words are allocated near one by one and we can detect how often it's happen. Three word collocation (<i>Arctic oil drilling</i>) is contrast example and hope it might reveal what I means.</p>
  <p>Much interesting to discribe the app's behaviour when user will push the button. Buttons <i>colour separation</i> determines a different application behaviour at those case. If user will push on any button at the title the app will render all events with this collocation at the title. In the event's description case it will be in the similar manner, but app will render events with this collocation in the event's body only. In the single word button case search will be easy, but if the button have more than one word the search will render this collocation occurencies only.</p>
  <p>On my point of view this features will allow user to discover a relevant news, definitions and persons and <b>avoid any typing</b> at all. In other word users could reveal topics discourse just by pushing at the buttons, reading and thinking.
  </p>
  </div>
{% endblock %}
