{% extends "_base.htm" %}
{% block container %}
<div class="container">
  <!-- top pagination -->
  <div class="row" align="center">
   <nav>
     <ul class="pagination" align="center">
       {% for j in pagination %}
       <li
	  {% if j.active %} class="active"{% endif %}>
	 <a href="/projects/iherb/page/{{ j.n }}">{{ j.n }}</a>
       </li>
       {% endfor %}
     </ul>
   </nav>
  </div>
<!-- products grid -->
<div class="row" align="center">
  {% for product in products %}
  {% if loop.first %}
  <div class="row">
    {% endif %}
    {% if loop.index is divisibleby 3 %}
    <div class="row">
      {% endif %}
      <div class="col col-lg-4 col-sm-6">
	<div class="thumbnail" itemscope="">
	  <a href="#myModal" product-name="{{ product[5] }}" class="img-modal">
	    <img alt="{{ product[6] }}" src="http://priceimages.s3.amazonaws.com/{{ product[4] }}">
	    <span>{{ product[6] }}</span></br>
	    <span itemprop="brand"><b>{{ product[8] }}</b></span>
	  <div class="bs-example popover-demo">
	    <div class="bs-example-popovers">

<!-- Modal -->
<div class="modal fade" id="{{ product[5] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ product[6] }}</h4>
      </div>
      <div class="modal-body"><img alt="{{ product[6] }}" src="http://priceimages.s3.amazonaws.com/{{ product[3] }}">
{% if product[13] %}</br><b>Description:</b></br>{{ product[13] }}{% endif %}{% if product[14] %}</br><b>Ingredients:</b><br>{{ product[14] }}{% endif %}
{% if product[15] %}</br><b>Warnings:</b><br>{{ product[15] }}{% endif %}{% if product[16] %}</br><b>Suggested Use:</b><br>{{ product[16] }}{% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
	    </div>
	  </div>
	</div>
      </div>
      {% if loop.index is divisibleby 3 %}
    </div>
    {% endif %}
    {% if loop.last %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<!-- bottom pagination  -->
  <div class="row" align="center">
   <nav>
     <ul class="pagination" align="center">
       {% for j in pagination %}
       <li
	  {% if j.active %} class="active"{% endif %}>
	 <a href="/projects/iherb/page/{{ j.n }}">{{ j.n }}</a>
       </li>
       {% endfor %}
     </ul>
   </nav>
  </div>
</div>
{% endblock %}

{#
	    <a href="#" data-toggle="popover" title="{{ product[4] }}" data-content="And here's some amazing content. It's very engaging. right?"><img src="http://priceimages.s3.amazonaws.com/{{ product[3] }}" class="img-thumbnail"></a>
	    <ul>
	      <li>SKU: {{ product[5] }}</li>
	      <li>Manufacturer: <a href="{{ product[7] }}">{{ product[6] }}</a></li>
	    </ul>
#}
