{% extends "_base.htm" %}
{% block container %}
<div class="container">
  <div class="row" align="center">
   <nav>
     <ul class="pagination" align="center">
       {% for j in pagination %}
       <li
	  {% if j.active %} class="active"{% endif %}>
	 <a href="/projects/iherb/page/{{ j.n }}">{{ j.n }}</a>
       </li>
       {% endfor %}
     </ul>
   </nav>
  </div>

  <div class="row" align="center">
	{% for product in products %}
	<div class="col-lg-2 col-xs-3 col-sm-4">
	<img src="http://priceimages.s3.amazonaws.com/{{ product[3] }}" class="img-thumbnail">
	</br>
	{#{ product[4] }#}
	</div>
	{% endfor %}
  </div>
  <div class="row" align="center">
   <nav>
     <ul class="pagination" align="center">
       {% for j in pagination %}
       <li
	  {% if j.active %} class="active"{% endif %}>
	 <a href="/projects/iherb/page/{{ j.n }}">{{ j.n }}</a>
       </li>
       {% endfor %}
     </ul>
   </nav>
  </div>
</div>
{% endblock %}

{#
	    <a href="#" data-toggle="popover" title="{{ product[4] }}" data-content="And here's some amazing content. It's very engaging. right?"><img src="http://priceimages.s3.amazonaws.com/{{ product[3] }}" class="img-thumbnail"></a>
	    <ul>
	      <li>SKU: {{ product[5] }}</li>
	      <li>Manufacturer: <a href="{{ product[7] }}">{{ product[6] }}</a></li>
	    </ul>
#}
