{% extends "_base.htm" %}
{% block container %}
    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is an initial template and hope it might help to visualize my ideas.</p>
	<p> The main concept is around creative collaboration among smart peoples.</p>
	<p> Feel free to be already invited to take a part in it. </p>
      </div>



      <div class="page-header">
	<ul>
          <h1>Initial prepositons:</h1>
	  <li><h4>Data amount still growing;</h4>
	  <li><h4>Size of devices becomes minuscule;</h4>
	  <li><h4>Most of devices are portable now;</h4>
	  <li><h4>Small screen isn't such handy to watch;</h4>
	  <li><h4>Virtual keyboard is ridiculous;</h4>
	  <li><h4>New approach is obviously chalenging;</h4>
	  <li><h4>Just do world better :-)</h4>
	</ul>
      </div>
      <!-- -->

{% endblock %}
