{% extends "_base.htm" %}
{% block container %}
    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>It's Teal sample page</h1>
        <p>This is a demo and I'm in hope what it might help to visualize an idea.</p>
      </div>



      <div class="page-header">
        <h1>Automatic summarization online</h1>
      </div>
      <!-- -->
      <div class="row">{% if input_text %}
	<div class="col col-lg-6"><p>{{ input_text }}</p>
	</div>
	<div class="col col-lg-6">
	  <p>
	    {% for i in tagged_words %}
	    {% if i.tag %}
	    <button type="button" class="btn {{ i.tag }} btn-{{ i.size }}">{{ i.word }}</button>
	    {% else %}
	    {{ i.word }} 
	    {% endif %}
	    {% endfor %}
	  </p>
	</div>
	{% endif %}
	<div class="col col-lg-12">
	     <form action="/projects/teal" role="form" method="post">
	       <div class="form-group">
		 <label for="comment">Input text here:</label>
		 <textarea class="form-control" rows="5" id="comment" name="input_text" placeholder="Please insert text here"></textarea>
		 <button type="submit" class="btn btn-info">Summarize</button>
	       </div>
	     </form>
	</div>
      </div>
{% endblock %}
