{% extends "_base.htm" %}
{% block container %}
    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>It's Teal sample page</h1>
        <p>This is a demo and I'm in hope what it might help to visualize an idea.</p>
      </div>



      <div class="page-header">
        <h1>Automatic summarization online</h1>
      </div>
      <!-- -->
      <div class="row">
	<div class="col col-lg-6">
	  <form action="/projects/teal" role="form" method="post">
	    <div class="form-group">
	      <label for="name">Name</label>
	      <input type="text" class="form-control" name="input_text" 
		     placeholder="Insert text here please">
	    </div>
	    <button type="submit" class="btn btn-info">Submit</button>
	  </form>
	  </div>
	<div class="col col-lg-6">
	  <p>
	    {% for i in tagged_words %}
	    {% if i.tag[0] %}
	    <button type="button" class="btn {{ i.tag[0] }}">{{ i.word }}</button>
	    {% else %}
	    {{ i.word }} 
	    {% endif %}
	    {% endfor %}
	  </p>
	</div>
      </div>
    </div>
{% endblock %}
