{% extends "_base.htm" %}
{% block container %}
    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is an initial template and hope it might help to visualize an idea.</p>
      </div>



      <div class="page-header">
        <h1>This is real news list manually harvested at Reuters:</h1>
      </div>
      <!-- -->
      <div class="row">
  <div class="col-xs-12 col-md-4">
      <p>
	<strong>Russia reduces charges against Greenpeace activists over Arctic protest</strong>
	<p><strong>MOSCOW</strong>  - Russia on Wednesday dropped piracy charges against 30 people involved in a Greenpeace protest against Arctic oil drilling, replacing the with lesser offences and cutting the maximum jail sentence they face to seven years from 15 years.
	<p><strong>2:41pm EDT</strong> 
</div>
  <div class="col-xs-6 col-md-8">
      <p>
	<strong><button type="button" class="btn btn-primary">Russia</button> reduces charges against <button type="button" class="btn btn-success">Greenpeace activists</button> over <button type="button" class="btn btn-success">Arctic protest</button></strong>
	<p><strong>MOSCOW</strong>  - Russia on Wednesday dropped piracy charges against 30 people involved in a <button type="button" class="btn btn-sm btn-info">Greenpeace protest</button> against <button type="button" class="btn btn-sm btn-warning">Arctic oil drilling</button>, replacing the with lesser offences and cutting the maximum jail sentence they face to seven years from 15 years.
	<p><strong>2:41pm EDT</strong>
</div>
</div>
<!-- -->

      <!-- -->
      <div class="row">
  <div class="col-xs-12 col-md-4">
      <p><strong>Analysis: Saudi move reflects fears U.S. falling for Iranian charm</strong>
	<p><strong>RIYADH/DUBAI</strong>  - Saudi Arabia's warning that it will downgrade its relationship with the United States is based on a fear that President Barack Obama lacks both the mettle and the guile to confront mutual adversaries, and is instead handing them a strategic advantage.
	<p><strong>2:41pm EDT</strong>
</div>
  <div class="col-xs-6 col-md-8">
      <p>
	<strong>Analysis: <button type="button" class="btn btn-primary">Saudi</button> move reflects fears U.S. falling for <button type="button" class="btn btn-success">Iranian charm</button></strong>
	<p><strong>RIYADH/DUBAI</strong>  - <button type="button" class="btn btn-sm btn-warning">Saudi Arabia's warning</button> that it will downgrade its relationship with the <button type="button" class="btn btn-sm btn-info">United States</button> is based on a fear that <button type="button" class="btn btn-sm btn-warning">President Barack Obama</button> lacks both the mettle and the guile to confront mutual adversaries, and is instead handing them a <button type="button" class="btn btn-sm btn-info">strategic advantage</button>.
	<p><strong>2:41pm EDT</strong>
</div>
</div>
<!-- -->

{% endblock %}
